@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// Generate both REM and PX values for fonts
// Usage: @include fontsize(x);
// x = font-size
@mixin font-size($sizevalue: 12) {
  font-size: $sizevalue + px; //fallback for old browsers
  font-size: (.0625 * $sizevalue) + rem;
}

@mixin fontsize($sizevalue: 12) {
  @include font-size($sizevalue);
}
