// Colors
// ==========================================================================

$primary-color: #111 !default;
$secondary-color: #cf4647 !default;

// Typography
// ==========================================================================

$font-stack: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
